# Wrapping it all up with a bit of playtime.

## Notebook Reproducibility

Depending on your configuration, Notebooks can be exported to a range of formats, such as HTML, RTF, LaTeX (and therefore, PDF), as well as exporting to Markdown. 

This was originally going to be a longer section but honestly, everyone has different requirements and I'd rather answer questions from 10 people than try to write prospective answers for 200 options!

## Converting a load of partial files into a nice shiny partitioned dataset

In [36]:
import pyarrow.parquet as pq
from pathlib import Path

data = Path('data')
data.glob('hookup_*.pa.pq')

PyArrow

In [37]:

df = pa.parquet.read_table('data/hookup_0.pa.pq')

In [38]:
df.schema

Categories: list<item: string>
  child 0, item: string
    -- field metadata --
    PARQUET:field_id: '3'
  -- field metadata --
  PARQUET:field_id: '1'
Budget: string
  -- field metadata --
  PARQUET:field_id: '4'
Time: string
  -- field metadata --
  PARQUET:field_id: '5'
Travel: string
  -- field metadata --
  PARQUET:field_id: '6'
Joined: string
  -- field metadata --
  PARQUET:field_id: '7'
Recommended: list<item: string>
  child 0, item: string
    -- field metadata --
    PARQUET:field_id: '10'
  -- field metadata --
  PARQUET:field_id: '8'
Duration: double
  -- field metadata --
  PARQUET:field_id: '11'
-- schema metadata --
pandas: '{"index_columns": [{"kind": "range", "name": null, "start": 0, "' + 1077

In [39]:
import pyarrow.dataset as ds
dataset = ds.dataset(list(data.glob('hookup_*.pa.pq')))

In [40]:
dataset

In [41]:
dataset.files

['data/hookup_0.pa.pq',
 'data/hookup_1.pa.pq',
 'data/hookup_10k.pa.pq',
 'data/hookup_2.pa.pq',
 'data/hookup_3.pa.pq',
 'data/hookup_4.pa.pq',
 'data/hookup_5.pa.pq',
 'data/hookup_6.pa.pq',
 'data/hookup_7.pa.pq',
 'data/hookup_8.pa.pq',
 'data/hookup_9.pa.pq']

In [42]:
dataset.schema

Categories: list<item: string>
  child 0, item: string
    -- field metadata --
    PARQUET:field_id: '3'
  -- field metadata --
  PARQUET:field_id: '1'
Budget: string
  -- field metadata --
  PARQUET:field_id: '4'
Time: string
  -- field metadata --
  PARQUET:field_id: '5'
Travel: string
  -- field metadata --
  PARQUET:field_id: '6'
Joined: string
  -- field metadata --
  PARQUET:field_id: '7'
Recommended: list<item: string>
  child 0, item: string
    -- field metadata --
    PARQUET:field_id: '10'
  -- field metadata --
  PARQUET:field_id: '8'
Duration: double
  -- field metadata --
  PARQUET:field_id: '11'
-- schema metadata --
pandas: '{"index_columns": [{"kind": "range", "name": null, "start": 0, "' + 1077

In [43]:
dataset.to_table().shape # knows this because it has the metadata!

(110000, 7)

In [54]:
dataset.to_table(columns=['Recommended']).to_pandas()

                                              Recommended
0                [Cricket Club, Electronic Music Society]
1       [Officer Training Corps Society, University Ai...
2       [Olympic Handball Club, Medical Societies, Fai...
3                [Electronic Music Society, Cricket Club]
4       [University Air Squadron Society, Officer Trai...
...                                                   ...
109995  [Golf Club, Hockey Club, GAA Clubs , Soccer Cl...
109996  [Musical Theatre Society, Nightline Society, I...
109997  [Archery Club, Visual Arts Society, Activist S...
109998  [Ultimate Frisbee Club, Join the Climate Actio...
109999  [Choral and Singing Society, Become a Councill...

[110000 rows x 1 columns]